#pragma once

namespace fk {

/*
#define FK_WIFI_0_SSID      ""
#define FK_WIFI_0_PASSWORD  ""

#define FK_WIFI_1_SSID      ""
#define FK_WIFI_1_PASSWORD  ""
*/

#define FK_LORA_APP_EUI     "0000000000000000"
#define FK_LORA_APP_KEY     "00000000000000000000000000000000"

}
